.footer{ 
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    background-color: #212429;
    text-align: center;
    justify-content: center;
    color: #ffc107;
    gap: 50px;
  }
  .footer i{
    margin: 5px;
  }